body {
  background: rgb(0, 28, 63);
  text-align: center;
  color: white;
  margin: 0;
  width: 100%;
  padding-bottom: 200px;
  font-family: 'Frank Ruhl Libre', serif;
}

nav {
  color: black;
  background: rgb(180, 210, 233);
  width: 100%;
  margin: 0;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 22px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  display: block;
  margin: 25px 50px 30px 50px;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.nav_bar li {
  width: 25%;
  margin: 20px auto;
}

.data {
  background-color: rgb(91, 94, 92);
  text-align: center;
  padding: 5px;
  display: block;
  margin: 25px 50px 30px 50px;
}

@media (max-width: 600px) {

  .nav_bar li {
    width: 100%;
  }

.nav_bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.item {
  width: 25%;
  margin: 20px auto;
  flex-grow: 1;
  margin: auto;
}

nav a:hover, p a:hover{
  color: white;
  background: rgb(91, 94, 92);
}
